* {
    font-family: Pretendard;
}

body {
    max-width: 600px;
    font-size: 600px;
    padding: 0;
    margin: 0;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}

.title {
    font-family: Pretendard;
    font-weight: 500;
    font-size: 6%;
    text-align: center;
    margin: 6% 0 2% 0;
}

.warning {
    font-family: Pretendard;
    font-size: 2%;
    margin: 0 5% 0 5%;
    text-align: center;
    color: crimson;
}

.waiting {
    font-family: Pretendard;
    font-size: 3%;
    font-weight: 600;
    text-align: center;
    margin: 5% 0 2% 0;
    animation-duration: 0.4s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-name: blink;
}

@keyframes blink {
    from { color: black; }
    to { color: darkgray;}
}

.left {
    font-family: Pretendard;
    font-weight: 500;
    font-size: 3%;
    text-align: center;
    margin: 1% 0 2% 0;
}

.ended {
    font-family: Pretendard;
    text-align: center;
    margin: 2% 0;
    font-size: 2.5%;
    font-weight: 500;
}

input[type=checkbox] {
    appearance: none;
    width: 2vh;
    height: 2vh;
    overflow: hidden;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 50%;
    background: gray;
    cursor: pointer;
    transition: all .2s;
}

input[type=checkbox]:hover {
    background: darkgray;
}

input[type=checkbox]:checked {
    background: #4c8bf5;
    border-style: none;
}

label[for='does-include-ended'] {
    position: relative;
    top: -2px;
}

.schedule {
    font-family: Pretendard;
}

.type {
    border-style: solid;
    border-color: lightgray;
    border-radius: 2vh;
    border-width: .5%;
    /* width: 180px; */
    width: 60%;
    padding: 0 0 0 2%;
    margin: 0 4% 0 4%;
    float: left;
}

.date {
    border-style: solid;
    border-color: lightgray;
    border-radius: 2vh;
    border-width: .5%;
    width: 26%;
    align-self: center;
    float: left;
}

.subject {
    font-size: 3%;
    margin: .5% 0 0 0;
}

.name {
    font-size: 5%;
    font-weight: 600;
    margin: .5% 0 0.5% 0;
}

.day {
    text-align: center;
    font-size: 3%;
    margin: .5% 0 0 0;
}

.d_day {
    text-align: center;
    font-size: 5%;
    margin: .5% 0 .5% 0;
}

.sep {
    height: 3vh;
    clear: both;
}

.nothing {
    color: crimson;
}

.info {
    font-family: Pretendard;
    font-size: 2%;
    font-weight: 400;
    text-align: center;
}
